ul{
	font-size: 22px;
}
li {
	list-style-type: none;
	padding: 20px;
}

div{
	width: 100%;
}

#app{
	grid-template-columns: 1fr;
}
.main{
	margin: 0 auto;
	position: relative;
}
.quiz{
	background-color: rgb(240, 236, 248);
	padding: 2.5rem;
	border-radius: 1rem;
	/* overflow: hidden; */
	position: relative;
}
.block{
	margin-bottom: 1.25rem;
}

.question{
	/* background-color: #273037; */
	padding: .5rem 0;
}
.answer{
	background-color: #e0daed;
	padding: .25rem 1rem;
	border-bottom: 1px solid rgb(189, 189, 189);
	user-select: none;
	cursor: pointer;
}
.answer:hover{
	filter: brightness(1.2);
}
button{
	display: flex;
	padding: .5rem;
	/* margin: .5rem 0; */
	margin: 20px auto;
}


.fade{
	color: red;
}

.fade-enter-from {
	opacity: 0;
 }
 .fade-enter-active {
	/* transition: all 11.6s linear; */
	transition: all .3s linear;
 }
 /* .fade-move{
	transition: all .3s linear;
 } */
 .fade-leave-active {
	 /* transition: all  11.6s linear; */
	 transition: all .3s linear;
	 position: absolute;
	 opacity: 0;
	 /* left: 0; */
	 /* top: 0; */
 }
 .fade-leave-to {
	opacity: 0;
 } 

/* 
 .fade-enter-from {
	opacity: 0;
 }
 .fade-enter-active {
	transition: all 0.3s linear;
 }
 .fade-leave-active {
	transition: all 0.3s linear;
	opacity: 0;
	position: absolute;
 }
 .fade-leave-to {
	opacity: 0;
 }  */