/* *{
	outline: 1px solid grey;
} */

/* h1{
 color: #4343b3;
 font-size: 48px;
}

h3{
	color: #66b3ba;
	font-size: 32px;
}

h4{
	color: #66b3ba;
	font-size: 24px;
} */

ul{
	font-size: 22px;
}
li {
	list-style-type: none;
	padding: 20px;
}

div{
	width: 100%;
}

#app{
	grid-template-columns: 1fr;
}
.quiz{
	background-color: rgb(240, 236, 248);
	padding: 2.5rem;
	border-radius: 1rem;
}
.block{
	margin-bottom: 1.25rem;
}

.question{
	/* background-color: #273037; */
	padding: .5rem 0;
}
.answer{
	background-color: #e0daed;
	padding: .25rem 1rem;
	border-bottom: 1px solid rgb(189, 189, 189);
	user-select: none;
	cursor: pointer;
}
.answer:hover{
	filter: brightness(1.2);
}
button{
	padding: .5rem;
	margin: .5rem 0;
}